@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.circle {
  height: 200px;
  position: absolute;
  width: 200px;
  text-align: center;
  transform-origin: center;
}

/* * {
  border: 1px solid black;
} */

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spin 10s linear infinite;
}

.nt {
  flex-basis: 95px;
  flex-grow: 0;
  flex-shrink: 0;
}

.nt2 {
  flex-basis: 50px;
  flex-grow: 0;
  flex-shrink: 0;
}
